body {
    background-image: url('../Assests/768-light-gray-gradient-1920x1200-abstract-wallpaper (1).jpg');
}

p{
    color:maroon;
    font-family:Bradley Hand ITC;
    font-size:24px;
}
h1{
    color:crimson;
    font-style:italic;
}
footer{
    margin-bottom:0;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
